* {
    box-sizing: border-box;

    font-family: "segou ui", sans-serif;
    font-size: bold;
}


main {
    width: 1920px;
    height: auto;
    margin: 0 auto;

}


body {
    margin: 0;

}

img {
    width: 100%;
    max-width: 100%;


}

section {
    height: auto;
    margin: 0 auto;
    padding-bottom: 40px;


}



#forside {
    display: block;
    background-color: green;
    width: 100%;

}

.section_wrapper {
    padding-top: 7vw;
    width: 40vw;
    margin-right: auto;
    margin-left: auto;
}

.forside_tekst {

    display: block;
    margin-left: auto;
    margin-right: auto;
}

.link_portfolie {
    width: 38vw;
    margin-left: auto;
    margin-right: auto;
}

.link_om {
    position: absolute;
    width: 4vw;
    top: 10vw;
    right: 26vw;
}
