#nav_portfolie {
    position: absolute;
    transform: rotate(-30deg);
    top: 22vw;
    left: 20vw;
    z-index: 10;

}


.indledning_baggrund {
    z-index: 0;
    top: 0vw;
    margin-top: -48vw;
}


main {
    background-color: forestgreen;
    width: 100%;
}



#mig_om

/*#portfolie_web*/
/*#portfolie_ux*/
/*#portfolie_animation*/
/*#portfolie_indhold*/
.section_wrapper {
    top: 53.5vw;
    background-image: url(images/notesblok_01.svg);
    width: 100%;
    background-size: cover;
    position: absolute;
    z-index: 100;
    height: 700px;
    border: 10px solid #0CFB84;

}

.indhold_indledning_overskrift {
    background-color: #0CFB84;
    color: yellow;
    font-size: 2vw;
    padding-top: 12px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-left-radius: -20px;
    position: absolute;
    top: 50vw;
    z-index: 100;
    width: 20vw;
    text-align: center;
    height: 4vw;
    left: 2vw;
}

/*.section_wrapper {

    background-image: url(images/notesblok_01.svg);
    width: 100%;
    background-size: cover;
    position: absolute;
    z-index: 100;
    height: 700px;
    border: 10px solid #0CFB84;
}
*/
