header {
    overflow: hidden;
}

main {}

.overskrift_portfolie {
    transform: rotate(-30deg);
    margin-top: -60vw;
    margin-left: -60vw;
    z-index: 20;
    overflow: hidden;

}

.overskrift_portfolie_tekst {
    width: 50vw;
    position: absolute;
    transform: rotate(-30deg);
    top: 15vw;
    left: 8vw;
    z-index: 30;
}

#nav_portfolie {
    position: absolute;
    transform: rotate(-30deg);
    top: 22vw;
    left: 3vw;
    z-index: 10;

}



#nav_portfolie a {
    padding: 1vw;
    padding-left: 3vw;
    padding-right: 6vw;
    background-color: #0CFB84;
    font-size: 2vw;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: -20px;
    margin-left: -30px;
    box-shadow: -4px 5px 5px 0px green;
    color: yellow;
}

.indledning_baggrund {
    z-index: 0;
    top: 0vw;
    margin-top: -48vw;
}


main {
    background-color: forestgreen;
    width: 100%;
}


/*#portfolie_indledning

/*#portfolie_web*/
/*#portfolie_ux*/
/*#portfolie_animation*/
/*#portfolie_indhold*/
.section_wrapper {
    background-image: url(images/notesblok_01.svg);
    width: 90%;
    background-size: cover;
    position: relative;
    z-index: 100;
    border: 10px solid #0CFB84;
    left: 0;
    right: 0;
    height: auto;
}



.indhold_indledning_overskrift {
    background-color: #0CFB84;
    color: yellow;
    font-size: 2vw;
    padding-top: 12px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-left-radius: -20px;
    position: absolute;
    top: 41.4vw;
    z-index: 100;
    width: 20vw;
    text-align: center;
    height: 4vw;
    left: 8vw;
}

/*.section_wrapper {

    background-image: url(images/notesblok_01.svg);
    width: 100%;
    background-size: cover;
    position: absolute;
    z-index: 100;
    height: 700px;
    border: 10px solid #0CFB84;
}
*/


.indledning_tekst {
    margin-top: -1vw;
    padding-left: 8vw;
    padding-right: 8vw;
}

.indledning_portfolie_galleri {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;

}

.indledning_portfolie_galleri img {
    height: 30vw;
}


.portfolie_web_billeder_03 {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
}

.hide_section {
    display: none;
}

.vis_section {
    display: block;

}

.portfolie_section_01 {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}
